name: Build and Push Docker Image to ECR

on:
  push:
    branches:
      - "*"  

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Get Branch Name
        run: echo "BRANCH_NAME=${GITHUB_REF#refs/heads/}" >> $GITHUB_ENV

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build Docker Image
        run: |
          docker build -t app:latest .

      - name: Tag Docker Image
        run: |
          docker tag app:latest ${{ secrets.ECR_REGISTRY }}/task1:${{ env.BRANCH_NAME }}
          docker tag app:latest ${{ secrets.ECR_REGISTRY }}/task1:latest

      - name: Push Docker Image to ECR
        run: |
          docker push ${{ secrets.ECR_REGISTRY }}/task1:${{ env.BRANCH_NAME }}
          docker push ${{ secrets.ECR_REGISTRY }}/task1:latest
